body {
    font-family: Arial, Helvetica, sans-serif;
}

#backtoblog {
    display: none;
}

#login > h1 {
    display: none;
}

#login > h1 a {
    background: none;
    text-indent: inherit;
    display: block;
    width: auto;
    height: auto;
}

.login #backtoblog, .login #nav,
#nav {
    font-size: 0;
    padding: 0;
}

.login #backtoblog a, .login #nav a,
#nav a {
    font-size: 13px;
    margin-right: 10px;
    color: #466DB2;
    font-weight: 700;
}

.login #backtoblog a:focus, .login #nav a:focus,
#nav a:focus {
    outline: 0 none;
    box-shadow: none;
    border: none;
}

.login #nav a:first-child {
    padding: 8px 20px;
    background: #449700;
    color: #fff;
    border-radius: 3px;
}

.login #nav a:first-child:hover {
    background: #448a0b;
}

.login form .forgetmenot {
    float: none;
}

#login form p.submit {
    clear: both;
    float: none;
    margin-top: 20px;
}

#login form p.submit input[type="submit"] {
    background-color: #0070ba;
    box-shadow: none;
    display: block;
    width: 100%;
    height: auto;
    font-weight: 700;
    line-height: 40px;
    padding: 0;
    text-align: center;
}

#login form p.submit input[type="submit"]:hover {
    background-color: #005ea6;
    outline: 0;
}

#login form p.submit input[type="submit"]:focus {
    background-color: #005ea6;
    text-decoration: underline;
    outline: 0;
}

#login form p.submit input[type="submit"]:active {
    background: #00598e;
}